html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  background-color: black;
  font-size: 62.5%;
  font-family: 'Titillium Web', sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 1.4rem;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  color: white;
}

footer {
  font-size: 1.4rem;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  color: grey;
  text-align: center;
  margin-bottom: 20px;
  a{
    text-decoration: underline;
  }
  .socialList {
    width: 150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    svg{
      width:25px;
      & * {
        fill: grey;
      }
    }
  }
}

header {
  position: fixed;
  display: flex;
  max-width: 1400px;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  justify-content: space-around;
  flex-direction: row;
  font-size: 1.5rem;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 4%;
  .hideText{
    font-size: 0rem;
  }
  .designSuccessLogo, .sportsNavLogo{
    width:120px;
    svg *{
      fill: white;
      &.yellow, &.yellow *{
        fill: $brand-yellow;
      }
    }
  }
  .animated{
    opacity: 0;
  }
  #sportsNavLogo{
    transition: .3s ease all;
    &.show{
      opacity: 1;
    }
  }
  a {
    color: white;
    flex-grow: 1;
    justify-self: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    opacity: 0.7;
    font-size: 1.3rem;
    transition: .3s ease all;
    &:nth-child(1), &:nth-child(2) {
      opacity:1;
    } 
    &:nth-child(1), &:nth-child(2) {
      flex-grow: 5;
    }
    &:hover{
      opacity:1;
      font-weight: 600;
    }
  }
}
h2 {
  color: $brand-yellow;
  font-family: 'Eurostile LT', sans-serif;
}
svg{
  width:100%;
}

section {
  color: white;
  display: grid;
  align-content: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  box-sizing: border-box;
  &#home {
    margin-top: 2%;
    grid-column-gap: 1%;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-areas: ". h1 h1 ." ". h2 text .";
    h1 {
      grid-area: h1;
      font-size: 0rem;
      position: absolute;
    }
    .mainLogo{
      grid-area:h1;
      svg *{
        fill: white;
        stroke: none;
      }
    }
    h2 {
      grid-area: h2;
      font-size: 5.2rem;
      line-height: 1;
    }
    ul {
      list-style-type: none;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        &:before{
          content: ' ';
          width: 6px;
          height: 6px;
          margin: 0 10px 2px 0;
          background-color:$brand-yellow;
          position: relative;
          display: inline-block;
        }
      }
    }
    .homeText{
      grid-area: text;
      font-size: 2rem;
      line-height: 1.25;
      font-weight: 200;
      p b{
        font-weight: 600;
      }
    }
  }
  &#background {
    grid-template-columns: 1fr 3fr 2.4fr 1fr;
    grid-template-areas: ". h2 text .";
    padding-bottom: 0;
    h2 {
      grid-area: h2;
      font-size: 7rem;
      line-height: 1;
      align-self: flex-end;
    }
    .backgroundText {
      grid-area: text;
      font-size: 2rem;
      line-height: 1.25;
      font-weight: 200;
      p {
        &:nth-child(1):after {
          content: ' ';
          background-color: $brand-yellow;
          display: block;
          height: 10px;
          width: 100%;
          margin: 7px 0;
        }
        b {
          font-weight: 600;
        }
      }
    }
  }
  &#video {
    .videoWrapper{
      background-color: black;
      width: 100%;
      height: 100%;
      overflow: hidden;
      min-height: 100vh;
      position: absolute;
      z-index: 0;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
    }
    iframe {
      position: absolute;
      min-height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 0;
      min-width: 100%;
      width: auto !important;
      height: auto !important;
    }
    .videoOverlay{
      position: absolute;
      left: 0;
      z-index: 1;
      right: 0;
      bottom: 0;
      top: 0;
      background-image: url(./../img/layout/overlay.png);
    }
  }
  &#platform{
    p{
      margin: 5px 0 5px 0;
      font-size: 2rem;
    }
    h2{
      font-size:4rem;
      margin: 0;
      line-height: 1;
    }
    .platformContainer{
      position: relative;
      ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 150px;
        margin: 0;
        padding: 0;
        grid-gap: 20px;
        li{
          display: grid;
          grid-template-columns: 1fr;
          grid-template-areas: "same";
          align-items: center;
          justify-content: center;
          &:hover{
            cursor: pointer;
            .iconAnimated, .iconStatic{
              opacity: 1;
            }
            .iconAnimated svg{
              .stj{
                stroke-dasharray: .5 3;
                stroke-dashoffset: 50;
                animation: dash 5s linear infinite forwards;
                stroke-linecap: round;
              }
            } 
            .solutionNumber {
              opacity:0;
              transition: .3s ease all;
            }
            h3{
              background-color: black;
              margin-top: 25%;
            }
          }
          .solutionNumber {
            grid-area: same;
            z-index: 1;
            display: flex;
            align-self: center;
            justify-self: center;
            font-size: 6rem;
            font-weight: 600;
            opacity: 0.4;
            color: $brand-yellow;
          }
          .iconAnimated {
            grid-area: same;
            z-index: 2;
            opacity:0;
            transition: .3s ease all;
          }
          .iconStatic {
            grid-area: same;
            z-index: 3;
            opacity:0;
            transition: .3s ease all;
            svg{
              max-height: 140px;
            }
          }
          h3 {
            grid-area: same;
            z-index: 4;
            text-align: center;
            transition: .3s ease all;
            padding: 0px 0 4px;
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 30px;
          }
        }
      }
    } 
    .theReveal{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background-color: black;
      bottom: 0;
      z-index: 5;
    } 
    .solutionModal{
      display: grid;
      grid-template-columns: .7fr .3fr;
      grid-template-areas: "solution solutions";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: black;
      z-index: 5;
      .solutionsList{
        position: relative;
        display: flex;
        flex-direction: column;
        li{
          display: flex;
          justify-content: flex-start;
          position: relative;
          width: 100%;
          min-height: 50px;
          padding-left: 20px;
          position: relative;
          min-height: 50px;
          &:hover{
            p{
              padding-left: 40px;
            }
            span{
              opacity: 1;
            }
          }
          p{
            padding-left: 20px;
            transition: .3s ease all;
            margin: 0;
            font-size: 1.7rem;
          }
        }
        span{
          position: absolute;
          font-size: 6rem;
          z-index: -1;
          opacity: 0.4;
          line-height: 1;
        }
      }
      .solutionInfo {
        position: relative;
        grid-area: solution;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 160px 1fr 1fr;
        grid-template-areas: "icon" "number" "desc";
        border: 1px solid grey;
        border-width: 1px 0;
        padding: 0 5%;
        .iconStatic {
          grid-area: icon;
          svg{
            max-height: 200px;
            fill: $brand-yellow;
            display: flex;
          }
        }
        p{
          grid-area:number;
          font-size: 2rem;
          font-weight: 100;
          margin: 0;
          padding: 0;
          b{
            font-size:3.5rem;
            font-weight:700;
          }
          &:nth-child(4){
            padding-left: 70px;
            grid-area: desc;
          }
        }
        
      }
      .solutionsInfo {
        grid-area: solutions;
      }
      span {
        grid-area:number;
        justify-self: flex-start;
        align-self: center;
        font-size: 10rem;
        font-weight: 600;
        color: $brand-yellow;
        display: inline-block;
        width: 70px;
      }
    }
  }
  &#benefits{
    padding: 5% 0;
    h2{
      font-size: 5.5rem;
      font-weight: 600;
      margin: 0;
      line-height: 1;
      padding-left: 5%;
      
    }
    .objectContainer{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      .object {
        display: grid;
        grid-template-areas: "list" "title";
        border-right: 1px solid gray;
        grid-template-rows: 1fr;
        &:nth-last-of-type(1){
          border-right: 0px;
        }
        h3{
          grid-area: title;
          margin: 0;
          text-align: center;
          font-size: 5rem;
          font-weight: 400;
          align-self: end;
          transition: .3s ease all;
        }
        ul {
          grid-area: list;
          opacity: 0;
          transition: .3s ease all;
          align-self: center;
          justify-self: center;
          padding: 8%;
          width: 100%;
          margin: 0;
          box-sizing: border-box;
          list-style-type: none;
          font-size: 1.8rem;
          font-weight: 200;
            li {
              &:before{
                content: ' ';
                width: 6px;
                height: 6px;
                margin: 0 10px 2px 0;
                background-color:$brand-yellow;
                position: relative;
                display: inline-block;
              }
          }
        }
        &:hover{
          ul {
            opacity: 1;
          }
          h3 {
            font-weight: 600;
          }
        }
      }
    }
  }
  &#deepdata{
    h2{
      font-size: 5.5rem;
    }
    .firstColumned{
      display: grid;
      grid-template-columns: .8fr 1fr 1fr;
      grid-gap: 7%;
      font-size: 1.7rem;
      line-height: 1.25;
      margin-top: 2.5%;
      padding: 0 2%;
      p{
        text-align: justify;
      }
    }
    .secondColumned{
      margin-top: 4%;
      margin-bottom: 6%;
      display: grid;
      grid-template-columns: 1fr .9fr 1fr;
      grid-template-areas: ".    engagement    ."
      ".     graphic      ."
      "event graphic deep"
      "store graphic purchase"
      ".     graphic     ."
      ".     channel     .";
      grid-template-rows: 45px 1fr 3fr .5fr 1fr 45px;;
      span{
        font-size: 2.65rem;
        &:nth-child(1){
          grid-area:engagement;
          text-align: center;
        }
        &:nth-child(2){
          grid-area:event;
          text-align: right;
        }
        &:nth-child(3){
          grid-area:deep;
        }
        &:nth-child(4){
          grid-area:store;
          text-align: right;
        }
        &:nth-child(5){
          grid-area:purchase;
        }
        &:nth-child(6){
          grid-area:channel;
          text-align: center;
        }
      }  
      .diagramAnimated{
        grid-area: graphic;
        max-height: 400px;
        svg polygon{
          stroke-dasharray: .5 7;
          stroke-dashoffset: 50;
          animation: dash 5s linear infinite forwards;
          stroke-linecap: round;
          stroke-width: 3;
          stroke: $brand-yellow;
        }
      }                                                                                        
    }
    .thirdColumned{
      display: grid;
      grid-template-columns: 1fr 1.2fr 1fr 1fr;
      font-family: 'Eurostile LT', sans-serif;
      span{
        font-size: 2.7rem;
        font-weight: 600;
        line-height: 1.8;
        margin-top: 10px;
      }
      .socialInteraction{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        p{
          grid-area: 2 /span 5;
          text-align: center;
          color: grey;
          font-size: 1.8rem;
          font-weight: 200;
          margin-top: 10px;
        }
        .socialIcon{
          height:auto;
          width:55px;
          justify-self: center;
          margin-left: 10px;
          align-self: flex-end;
          &.deepOnly:before {
            content: '*';
            width: 12px;
            height: 10px;
            position: relative;
            margin: 0 auto;
            display: flex;
            font-size: 1.8rem;
            color: gray;
          }
          &:hover{
            svg{
              transform: scale(1.1);
            }
          }
          svg{
            transition: .3s ease all;
            * {
              fill: white; 
            }
          }
        }
      }
    }
  }
  &#tracking_platform {
    .graph{
      svg{
        #whites *{
          fill: white;
        }
      }
    }
    h2{
      font-size: 4rem;
      margin-bottom: 3%;
    }
  }
  &#trustedby{
    .firstColumned{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 13%;
      p{
        font-family: 'Eurostile LT', sans-serif;
        text-align: justify;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.4;
        span{
          font-size: 5rem;
          line-height: 0;
          height: 10px;
          position: relative;
          top: 25px;
        }
      }
      label{
        font-family: 'Eurostile LT', sans-serif;
        font-weight: 100;
        font-size: 1.5rem;
        width: 100%;
        top: 9px;
        position: relative;
      }
    }
    .trustedGrid {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(6, 1fr);
      margin-top: 5%;
      div {
        position: relative;
        &:hover {
          .detailBox {
            opacity: 1;
          }
        }
      }
      .detailBox{
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 100;
        font-size: 1.6rem;
        background-color: black;
        border: 1px solid;
        z-index: 1;
        opacity: 0;
        top: -80px;
        transition: .3s ease all;
      }
      .trustedVideo{
        grid-column-start: 3;
        grid-column-end: span 2;
        grid-row-start: 2;
        grid-row-end: 2;
        z-index: -2;
        text-align: center;
        margin: 7% 0;
        #trianglePlay {
          position: absolute;
          margin: 0 auto;
          width: 0;
          height: 0;
          border-top: 17px solid transparent;
          border-left: 30px solid white;
          border-bottom: 17px solid transparent;
          z-index: 1;
          left: 50%;
          transform: translateX(-50%);
          top: 40%;
          cursor: pointer;
        }
        div {
          width: auto !important;
          height: auto !important;
        }
        p{
          font-size: 1.7rem;
          font-weight: 100;
        }
      }
      svg{
        max-height: 50px;
        &.hasDetailBox {
          &:after {
            content: ' ';
            width: 50px;
            height: 3px;
            display: flex;
            background-color: $brand-yellow;
          }
        }
        & *{
          fill: gray;
        }
      }
    }
  }
}

#engage {
  display: grid;
  padding: 5% 10px 5% 0;
  grid-template-columns: 1fr .8fr .8fr 3fr;
  grid-template-areas: ". logo logo ."
                       ". h2 h2 ."
                       ". form form ."
                       ". form form locations ";
  
  .locationContact {
    grid-area: locations;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center;
    align-content: space-between;
    padding: 0 15% 0 4%;
    margin-top: 4%;
    ul {
      grid-area: 1 /span 2;
      display: flex;
      list-style-type: none;
      color: gray;
      justify-content: space-between;	
      li {
        flex-grow: 1;
      }
    }
    p{
      grid-area: 2 /span 1;
      margin-right: 41px;
      &:nth-child(2){
        grid-row-end: span 1;
      }
      flex-grow: 4;
      a{
        color: white;
        float:right;
      }
    }
  }
  .engageLogo {
    grid-area: logo;
    svg *{
      fill: $brand-yellow;
    }
  }
  h2 { 
    grid-area: h2;
    color: white;
    font-size: 7rem;
    margin-top: 10%;
    line-height: .9;
  }
  .form {
    grid-area: form;
    margin-top: 10%;
    form div{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10%;
      grid-template-areas: "name company" "email phone" "challenge challenge";
      font-family: 'Eurostile LT', sans-serif;
    }
    input, textarea{
      background-color: transparent;
      font-family: inherit;
      border: 1px solid #3d3d3d;
      border-width: 0 0 1px 0;
      margin-top: 15%;
      color: grey;
      resize: none;
      line-height: .5;
      font-size:1.6rem;
      &:focus{
        outline:none;
      }
    }
    input{
      &:nth-child(1){
        grid-area: name;
      }
      &:nth-child(2){
        grid-area: company;
      }
      &:nth-child(3){
        grid-area: email;
      }
      &:nth-child(4){
        grid-area: phone;
      }
    }
    textarea{
      grid-area: challenge;
      margin-top: 10%;
      height: 25px;
      line-height: 1.6;
    }
    button{
      font-family: inherit;
      background-color: transparent;
      border: 1px solid #3d3d3d;
      color: grey;
      font-size: 1.5rem;
      width: 90px;
      padding: 5px;
      margin-top: 10%;
    }
  }
  .locationMap{
    grid-column-start: 3;
    grid-column-end: col4-end;
    grid-row-start: 1;
    grid-row-end: last-line;
    z-index: -1;
    margin-left: 5%;
    svg{
      .st1{
        animation: repulse infinite ease-out 1s;
        transform-origin: 50% 50%;
        animation-fill-mode: both;
        animation-direction: alternate;
      }
      .st0{
        fill: #4f4f4f;
      }
    }
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 25px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
  transition: .5s ease all;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes repulse {
  to {
    transform: scale(1.02);
    stroke-width: 6;
  }
}

.objectVideo{
  width: 100%;
  max-width: 300px;
  grid-area: list;
  height: auto;
  display: flex;
  align-self: center;
  justify-self: center;
  position: relative;
  z-index: -2;
}